body{
    background-color: bisque;
}


.Profile{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: blueviolet;
    text-align: center
}

h3{
    color: crimson;
    width: 100;
    height: 700;
    
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
    
}


.car {
    display: inline-block;
    position: relative;
    background-color: orange;
  }
.car::after {
    position: absolute;
    top: 2px;
    right: .5em;
    transition: all .05s ease-in-out;
}


.car:hover::after,
.car:focus-within::after {
  right: 1.5em;
}.Angulos {
}
.angulos {
}
.angulo1 {
}
.angulo1.graus {
}
.horizontal.min {
}
.horizontal.graus {
}
.horizontal.seg {
}
.horizontal1graus {
}
.horizontal2graus {
}
.horizontal2minutos {
}
.horizontal3graus {
}
.horizontal3minutos {
}
.horizontal3segundos {
}
.horizontal2segundos {
}
.a {
}
#botão {
	color: white;
	background-color: crimson;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
  
input[type="number"] {
    -moz-appearance: textfield !important;
}

.metters{
	width: 90%;
	font-size: 90%;
	color: black;
	background-color: aliceblue;
	border: 0;
}

.degrees {
	font-size: 90%;
	width: 50px;
	color: black;
	background-color: aliceblue;
	border: 0;
}

.EXECUTE {
	width: 120px;
	height: 40px;
	font-size: 25px;
}
